{% extends 'layout.html' %}



{% block body %}

<div class="row">

    <div class="form-wrapper col-lg-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3>Add Prediction Objective</h3>
            </div>
            <div class="box-body">
                {% from "includes/_formhelpers.html" import render_field %}
                <form class="form-horizontal" method="post" action="/addpred" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}


                    <div class="form-group row">

                        <div class="col-sm-10">
                                {{ render_field(form.name, class="form-control") }}
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-sm-10">
                                {{ render_field(form.in_features, placeholder="ex: design variable|default value", class="form-control") }}
                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-sm-10">
                                {{ render_field(form.op_features, class="form-control") }}
                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-sm-10">
                                {{ render_field(form.hyperparameter, class="form-control") }}
                        </div>

                    </div>



                    <div class="form-group row">

                        <div class="col-sm-10">
                                {{ render_field(form.dataset, class="form-control") }}
                        </div>

                    </div>



                    <button type="submit" name="save_tasks" class="btn btn-primary">Add Prediction Objective</button>

                </form>
            </div>
        </div>




    </div>

    <div class="col-lg-8">

        <div class="box box-success">
            <div class="box-header">
                <h3>Prediction Objectives</h3>
            </div>
            <div class="box-body with-border">
                <table class="table table-stripped">
                    <tr>
                        <th>No</th>
                        <th>Input Features</th>
                        <th>Output Features</th>
                        <th>Hyperparameter</th>
                        <th>Dataset</th>
                        <th>Action</th>

                    </tr>
                    {% for o in of_data %}

                        <tr>


                            <td>{{ loop.index }}</td>
                            <td>{{ o.name }}</td>
                            <td>
                                {% for des in o.inf %}
                                    {{ des.name }}[{{ des.position }}] <br />
                                {% endfor %}

                            </td>
                            <td>
                                {% for des in o.opf %}
                                    {{ des.name }}[{{ des.position }}] <br />
                                {% endfor %}

                            </td>
                            <td>$${{ o.dataset }}$$</td>
                            <td>Edit | Delete</td>


                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>








    </div>
</div>


{% endblock %}

